<section class="ui segment">
  <div class="ui two small statistics">
    <div class="ui statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
        Name:
        {{assessmentlist.memberName}}
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon"></i>
      </div>
      <div class="label">
        BMI
        {{assessmentlist.BMI}}
      </div>
    </div>
  </div>
</section>