//not used but dont want to mess anything up
{{#each assessments}}
  <section class="ui segment">
    <h2 class="ui header">
      {{memberName}}
    </h2>
    <p> Your assessments</p>
    <a href="/assessmentlist/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
  </section>
{{/each}}